//ANCHO

@media screen and (max-width: 768px){
	section {
		.container {
			flex-direction: column;
			.box {
				width: 100% !important;
				&.left {
					padding-bottom: 4em;
					padding-right: 0;
					margin-bottom: 2em;
				}
			}
		}
	}
}






























///////////////////////////////////////////////////////////////////////////////////
//ALTO
@media screen and (max-height: 730px){

}
@media screen and (max-height: 400px){

}
///////////////////////////////////////////////////////////////////////////////////
//MOBILE
@media screen and (max-width: 768px){
	
}
// ADDS
@media screen and (max-width: 375px){

}
@media screen and (max-width: 340px){

}
