//IMPORTACIONES
@import 'normalize';
@import "fonts";
@import "font-awesome";
///////////////////////////////////////////////////////////////////////////////////
//COLORES
$hopbush: #B55994;
$frenchlilac: #FFD5FF;
///////////////////////////////////////////////////////////////////////////////////
//FUENTES

///////////////////////////////////////////////////////////////////////////////////
//FUNCIONES
@mixin centerscreen() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@mixin transition($transition) {
	transition: all ease-in-out $transition;
}

///////////////////////////////////////////////////////////////////////////////////
//ESTILO PLACEHOLDER

///////////////////////////////////////////////////////////////////////////////////
//ANIMACIONES

///////////////////////////////////////////////////////////////////////////////////
//ESTILOS

/*====================
ADD
====================*/

$white: #fff;
$black: #141414;
$yellow: #dcc380;
$orange: #FCAF17;

$primary: #ef003e;
$secondary: #1340bb;


#idPreloader{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;

	// background: #33CCCC;
	background: #2D2F29;
	// background: -moz-radial-gradient(center, ellipse cover, #FFF 0%, #FB6472 100%);
	// background: -webkit-radial-gradient(center, ellipse cover, #FFF 0%, #FB6472 100%);
	// background: radial-gradient(ellipse at center, #FFF 0%, #FB6472 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#FB6472',GradientType=1 );
}



.bodySinScroll {
	overflow: hidden;
}
@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin ulcero {
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
}
.container {
	width: 100%;
	max-width: calc(800px + 10%);
	margin: 0 auto;
	padding: 0 5% 0 5%;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
	color: inherit;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&.btn {
		display: block;
		// background: $white;
		color: $black;
		padding: .5em 1em;
		width: 100%;
		max-width: 15em;
		margin: 0 auto;
		text-align: center;
		box-sizing: border-box;
		&:hover {
			
		}
	}
}

input {
	display: block;
	background: #fff;
	width: 100%;
	padding: .7em .5em;
	border: 0;
	box-sizing: border-box;
	&[type="submit"] {
		-webkit-appearance: none;
		border-left: 0;
	}
	&:focus {
		outline: none;
		box-shadow: inset 0 0 15px 0 rgba(52,91,119,.5);
	}
	&:hover {
		box-shadow: inset 0 0 15px 0 rgba(52,91,119,.5);
		transition: all ease-in-out .3s;
	}
	&.error {
		&:focus {
			box-shadow: inset 0 0 15px 0 rgba(255,0,0,.5);
			// box-shadow: inset 0 0 15px 0 red;
		}
	}
}

textarea {
	width: 100%;
	padding: .7em .5em;
	border: 0;
	box-sizing: border-box;
	&:focus {
		outline: none;
		box-shadow: inset 0 0 15px 0 rgba(52,91,119,.5);
		transition: all ease-in-out .3s;
	}
}


/*====================
MAIN
====================*/

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Helvetica', Arial, sans-serif;
	line-height: 150%;
	background: #212f38;

	display: flex;
	align-items: center;
	min-height: 100vh;
}

section {
	.container {
		display: flex;
		.box {
			width: 50%;
			@include ulcero;
			font-size: .9em;
			& * {}
			&.left {
				color: $white;
				line-height: 130%;
				padding-right: 4em;
				box-sizing: border-box;
				position: relative;
				.logo {
					width: 4em;
					img {
						width: 100%;
					}
				}
				p {
					margin-bottom: 2em;
				}
				ul {
					border-top: 1px solid $white;
					padding-top: 2em;
				}
				.copy {
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			&.right {
				h1 {
					color: #ee3825;
					margin-top: 0;
				}
				ul {
					li {
						margin-bottom: .6em;
					}
				}
				a {
					display: block;
					background: #ee3825;
					color: $white;
					text-transform: uppercase;
					text-align: center;
					padding: 1em;
					max-width: 5em;
					&:hover {
						background: #9b1a0c;
					}
				}
			}
		}
	}
}

.kinoto {
	position: absolute;
	// top: 20%;
	// left: 20%;
	// z-index: 1;
}










// FOOTER

#footer {
	
}


















///////////////////////////////////////////////////////////////////////////////////
//MEDIAQUERYS
@import "mediaquerys";
